<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="keywords" content="waking demons, corp, alliance, eve, website, eve online, pvp, pve, wormhole, exploration, incursion, hacking, drifter, sleeper, mining, veldspar, industry, planetary interaction, citadel, pos, spy, baten alrai">
		<meta name="robots" content="all">
		<link href="//static.wakingdemons.com/styles/style.css" media="all" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Sonsie+One:400" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript">
		var page = "$page$";
  		</script>
	</head>
	<body>
		<div id="preload"></div>
		<header>
			<h1>This site is under construction...</h1>
		</header>
		<nav></nav>
		